* {
	margin: 0;
	padding: 0;
}

body {
	margin: 0 auto;
}

.container {
	text-align: left;
	margin-top: 20px;
	margin-left: 20px;
	width: 200px;
	background: rgba(0, 25, 0, 0.8);
}

label {
	display: inline-block;
	vertical-align: middle;
	color: #fff;
}

input {
	display: inline-block;
	vertical-align: middle;
}

.container div {
	margin: 10px;
}