* {
	margin: 0;
	padding: 0;
}

body {
	margin: 0 auto;
}

#container {
	text-align: center;
	margin-top: 50px;
}

#a, #b, #r {
	width: 80px;
	height: 30px;
	font-size: 20px;
	text-align: center;
	vertical-align: middle;
}

#r {
	display: inline-block;
	border: 1px solid #000;
	margin-left: 5px;
	vertical-align: middle;
}

#selector {
	width: 150px;
	height: 30px;
	font-size: 20px;
}
